<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- Title -->
	<title>Home</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="static/images/general-elements/favicon/favicon.png">
	<link rel="apple-touch-icon" href="static/images/general-elements/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/images/general-elements/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/images/general-elements/favicon/apple-touch-icon-114x114.png">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/skins/default.css" data-color-skins="">
</head>
<body>
	<!-- Full Container -->
	<div id="full-container">

		<!-- Header -->
		<header>

			<!-- Header Top Content -->
			<section class="header-top-content">

	        	<div class="container">
					<div class="row">
						<div class="col-sm-4">

							<!-- Logo -->
				            <a class="logo image-logo" href="#">
								<img src="static/images/general-elements/nids.png" alt="">
			                    <h3><strong>NIDS</strong></h3>
			                    
				            </a><!-- End Logo -->

						</div><!-- End col-sm-4 -->
						<div class="col-sm-8">

							<!-- Header Social Icons -->
							<ul class="social-icons x-small rounded grey hover-dark">
								<li>
									<a class="social-icon-twitter" href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a class="social-icon-facebook" href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a class="social-icon-youtube" href="#">
										<i class="fa fa-youtube"></i>
									</a>
								</li>
								<li>
									<a class="social-icon-instagram" href="#">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>	<!-- End Header Social Icons -->

						</div><!-- End col-sm-8 -->
					</div><!-- End row -->
				</div><!-- End container -->

			</section><!-- End Header Top Content -->

			<!-- Header Featured Content Outer -->
			<section id="header-featured-content-outer">
				<div class="header-parallax" data-stellar-background-ratio="0.5" data-parallax-background-image="image123.jpg">

					<div class="pattern-overlay" data-pattern-overlay-darkness-opacity="0.0" data-pattern-overlay-background-image="none">
					</div>
					<!-- End Pattern Overlay -->
					<div class="header-colored-background gradient-BG1">
					</div>
					<!-- End Header Colored Background -->

					<!-- Header Featured Content -->
					<div class="header-featured-content resp-pb-0">

						<div class="container">
							<div class="row">
								<div class="col-md-5">

									<!-- Header Center Box -->
									<div class="header-center-box">
										<div class="header-featured-title style1">
											<h1>Welcome To Dashboard</h1>
											<h4 class="subheader">
												Network Intrusion Detection with Two-Phased Hybrid Ensemble Learning and Automatic Feature Selection
											</h4>
										</div>
										<!-- End Header Featured Title -->
									</div>
									<!-- End Header Center Box -->

								</div>
								<!-- End col-md-5 -->
								<div class="col-md-3 col-md-push-4">
									<!-- Header Center Box -->
									<div class="header-center-box text-center">
										<img class="ftr-btn-arrow" src="static/images/files/button-indicator-arrow.png" alt="">
										<a class="button large white hover-transparent-white" href="/logon">
											Signup
										</a>
										
									</div>
									<!-- End Header Center Box -->
								</div>
								<!-- End col-md-3 -->
								
								<!-- End col-md-4 -->
							<!-- End row -->
							</div>
						<!-- End container -->
						</div>

					<!-- End header-featured Content -->
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12">

								<span class="arrow-down hidden-sm hidden-xs">
									<i class="pe-7s-angle-down-circle"></i>
									Explore More Down
								</span>
								<!-- End Arrow Down [ Movable ] -->

							</div>
							<!-- End col-sm-12 -->
						</div>
						<!-- End Row -->
					</div>
					<!-- End Container -->
				</div>
				<!-- End header parallax -->


			<!-- End header-featured-content-outer -->
			</section>

		</header>
		<!-- End Header -->

		<!-- Logo and Nav -->
		<section class="logo-and-nav fulwidth">

        	<div class="container">
				<div class="row">
					<div class="col-md-12">

			            <!-- Logo -->
			            <a class="logo text-logo" href="#">
							<img src="static/images/general-elements/logo/nids.png" alt="">
		                    <h3><strong>NIDS</strong></h3>
		                    
			            </a>
			            <!-- Main Nav [ contains main menu and additional addons ] -->
			            <div class="rm-menu"></div><!-- End Responsive Main Menu -->
			            <nav id="main-nav">
			            	<ul id="main-menu" class="main-menu sf-menu">
			            		
			            		<li><a href="/">Home</a></li>
			            		<li><a href="/logon">Signup</a></li>
			           
			            	</ul><!-- End Main Menu -->
							<div class="rm-menu-btn hamburger hamburger--slider">
							  <span class="hamburger-box">
							    <span class="hamburger-inner"></span>
							  </span>
							</div><!-- End Responsive Main Menu Button -->
			            	<!-- Header Additional Addons -->
			            	
			            </nav><!-- End Main Nav -->

					</div><!-- End col-md-12 -->
				</div><!-- End row -->
			</div><!-- End container -->

		</section><!-- End Logo and Nav -->

		<!-- Main Container -->
		<div id="main">

			<!-- =================================
				  "Intro" 
			================================== -->
			<!-- Flat Section -->
			

			<!-- =================================
				  "About Us 1" 
			================================== -->
			<!-- Flat Section -->
			<div class="flat-section">

				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<!-- Flat Section Title -->
							<div class="flat-section-title">
								<h4 class="subheader">About</h4>
								
							</div><!-- End Flat Section Title -->

						</div><!-- End col-sm-12 -->

						<!-- Flat Section Content -->
						<div class="flat-section-content">

							<div class="col-lg-5 pr-40 resp-mb-30">
								<div class="row">
									<div class="col-sm-12">

										<!-- Info Box -->
										<div class="info-box1">
											
											<div class="info-box-content">
												<h4>NIDS</h4>
												<p>
													An intrusion detection system is a device or software application that monitors a network or systems for malicious activity or policy violations.
												</p><!-- End Info Box Content -->
											</div>
										</div><!-- End Info Box -->

									</div><!-- End col-sm-12 -->
									<div class="col-sm-12">

										<!-- Info Box -->
										<div class="info-box1">
											
											<div class="info-box-content">
												<h4>Machine Learning</h4>
												<p>
													Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.
												</p><!-- End Info Box Content -->
											</div>
										</div><!-- End Info Box -->

									</div><!-- End col-sm-12 -->
									<div class="col-sm-12">
										<!-- Info Box -->
										<div class="info-box1">
											
											<div class="info-box-content">
												<h4>Flask Framework</h4>
												<p>
													Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.
												</p><!-- End Info Box Content -->
											</div>
										</div><!-- End Info Box -->

									</div><!-- End col-sm-12 -->
								</div><!-- End row -->
							</div><!-- End col-lg-5 -->
							<div class="col-lg-7">
								<img src="static/sample.jpg" alt="">
							</div><!-- End col-lg-7 -->

						</div><!-- End Flat Section Content -->

					</div><!-- End Row -->
				</div><!-- End Container -->

			</div><!-- End Flat Section -->

			<!-- =================================
				  "About Us 2"
			================================== -->
			
		<!-- Footer -->
		<footer>

			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<a class="footer-logo" href="#">
							<img src="images/general-elements/logo-footer.png" alt="">
						</a><!-- End Logo -->

					</div><!-- End col-sm-12 -->
					<div class="col-sm-12">

						<div class="copyrights-message">
							<strong>Bright</strong> 2023 ©<br>
							Designed and Rights by <a href="#">Morad</a>
						</div><!-- end Copyrights Message -->

					</div><!-- End col-sm-12 -->
				</div><!-- End Row -->
			</div><!-- End Container -->

		</footer><!-- End Footer -->

	</div><!-- End Full Container -->

	<!-- Javascript -->
	<script src="static/js/jquery.js"></script>
	<script src="static/js/jquery.easing.min.js"></script>
	<script src="static/js/jquery.malihu.PageScroll2id.min.js"></script>
	<script src="static/js/jquery.mb.YTPlayer.min.js"></script>
	<script src="static/js/jquery.sticky.js"></script>
	<script src="static/js/jquery.slicknav.min.js"></script>
	<script src="static/js/hoverIntent.js"></script>
	<script src="static/js/superfish.js"></script>
	<script src="static/js/waypoints.min.js"></script>
	<script src="static/js/jquery.counterup.min.js"></script>
	<script src="static/js/jquery.stellar.js"></script>
	<script src='static/js/jquery.tweet.js'></script>
	<script src='static/js/instafeed.min.js'></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src='static/js/wow.min.js'></script>
	<script src='static/js/jquery.magnific-popup.min.js'></script>
	<script src='static/js/jquery-ui.min.js'></script>
	<script src="static/js/jquery.validate.min.js"></script>
	<script src="static/js/jquery.ajaxchimp.min.js"></script>
	<script src='static/js/custom.js'></script>

</body>
</html>